.letters-calculator-bg-container {
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  background-size: cover;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.letters-calculator-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
  margin-top: 0;
}

.letters-calculator-content-header {
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
}

.letters-calculator-phrase-input-container {
  color: #ffffff;
  margin-bottom: 1.5rem;
}

.letters-calculator-input-label {
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: bold;
}

.letters-calculator-input {
  border: 0.1rem solid #ffffff;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: 1.1rem;
  background: transparent;
  color: #ffffff;
  outline: none;
  margin-top: 0rem;
}

.letters-count-text {
  background-color: #ffffff;
  padding: 1.2rem 1.7rem;
  border-radius: 0.6rem;
  color: #219a6f;
  font-size: 1.8rem;
  margin: 0;
  font-weight: bold;
}

.main-img {
  height: 19rem;
  width: 27rem;
  order: -1;
  margin: 0;
}

@media (min-width: 992px) {
  .letters-calculator-bg-container {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 3.5rem;
    justify-content: space-between;
  }

  .letters-calculator-content-container {
    align-items: flex-start;
  }

  .letters-calculator-content-header {
    font-size: 4rem;
    text-align: left;
  }

  .letters-calculator-input-label {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .letters-calculator-input {
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    font-size: 2.1rem;
  }

  .letters-count-text {
    padding: 1.5rem 2rem;
    font-size: 2.5rem;
  }

  .main-img {
    height: 35rem;
    width: 45rem;
    order: 1;
  }
}
